[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
