[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
graphene-django = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.7"
