[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.4"

[dev-packages]

[packages]
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"
